<div>
    <h1>Usuario</h1>
    <p>Nombre: {{user.name}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Email: {{user.email}}</p>
    <p>Teléfono: {{user.phone}}</p>
</div>